@import url('https://fonts.googleapis.com/css?family=Lato:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Oswald:400,500,700');

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Lato', sans-serif;
    color: #222;
}
.navbar {
    padding: .8rem;
    background-color: #e85019;
}
.navbar-nav li {
    padding-right: 20px;
}
/* nav .navbar-dark.navbar-nav.navbar-link li a {
    color: white !important; 
    } */
    

.navbar.navbar-expand-md.navbar-dark.sticky-top ul li a{    
    color: white !important;
    font-family: 'Oswald', sans-serif;
}
.container {
    margin-top: 1rem;
}
.backtotop {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.orange-background {
    text-align: left;
    background: #e85019;
    color: white;
    border: 1px solid #e85019;
    width: 90%;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 10px 10px 10px #ccc;
}
.radiobutton {
    padding: 10px;
}
.carousel-inner img {
    width: 100%;
    height: 100%;
}
.carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.carousel-caption h1 {
    font-size: 100%;
    font-weight: 400;
    text-shadow: 1px 1px 15px #000;
}
.carousel-caption h3 {
    font-size: 300%;
    text-transform: uppercase;
    text-shadow: 1px 1px 10px #000;
    padding-bottom: 1rem;
}
.btn-primary {
    background-color: #0a3b87;
    border: 1px solid #563d7c;
}
.btn-primary:hover {
    background-color: #e85019;
    border: 1px solid #e85019;
}
.jumbotron {
    padding: 1rem;
    border-radius: 0;
}
.padding {
    padding-bottom: 2rem;
}
.welcome {
  width: 75%;
  margin: 0 auto;  
  padding-top: 2rem;
}
.welcome hr {
    border-top: 2px solid #b4b4b4;
    width: 95%;
    margin-top: 1rem;
}
.fa-code {
    color: #e54d26;
}
.fa-bold {
    color: #563d7c;
}
.fa-css3 {
    color: #2163af;
}
.fa-code, .fa-bold, .fa-css3 {
    font-size: 4em;
    margin: 1rem;
}
.social a {
    font-size: 4.5em;
    padding: 1rem;
}
footer {
    background-color: #0a3b87;
    color: #ffffff;
    padding-top: 2rem;
    margin:auto;
}
.footerWrap {
    width:100%;
    position:relative;
    bottom: 0px;
}
.footerContent {
    float:left;
    width:100%;
    padding:20px 0;
}
.footer p {
    float:left; width:100%; text-align:center; 
}
hr.light {
    border-top: 1px solid #ffffff;
    color: #ffffff;
    margin-top: .8rem;
    margin-bottom: 1rem;
}
@media (max-width: 768px) {
    .carousel-caption {
        top: 45%;
    }
    .carousel-caption h1 {
        font-size: 350%;
    }
    .carousel-caption h3 {
        font-size: 140%;
        font-weight: 400;
        padding-bottom: .2rem;
    }
    .carousel-caption .btn {
        font-size: 95%;
        padding: 8px 14px;
    }
    .display-4 {
        font-size: 200%;
    }
}
@media (max-width: 576px) {
    .carousel-caption {
        top: 40%;
    }
    .carousel-caption h1 {
        font-size: 250%;
    }
    .carousel-caption h3 {
        font-size: 110%;
    }
    .carousel-caption .btn {
        font-size: 90%;
        padding: 4px 8px;
    }
    .carousel-indicators {
        display: none;
    }
    .display-4 {
        font-size: 160%;
    }
}
figure {
    position: relative;
    width: 100%;
    height: 60%;
    margin: 0!important;
}
.fixed-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#fixed {
    background-image: url('img/banc.jpg');
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform:  translateZ(0);
            transform: translateZ(0);
    will-change: transform;
}
